{% extends 'base.html' %}
{% load static %}

{% block title %}Car Rental
{% endblock title %}
 {% block body %}
 
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="color:AntiqueWhite;"><b>Select From Below Cars</b></h1>
        <p class="lead text-muted">| | | | | | | |  <p>
          <a href="{% url 'home' %}" class="btn btn-danger my-2">Home page</a>
          
        </p>
      </div>
    </div>
  </section>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static '19.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car 1</h5>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="carform">Rent This Car</a>
        </div>  
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src={% static '20.jpg' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car 2</h5>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="carform">Rent This Car</a>        
        </div>  
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://source.unsplash.com/1200x600/?travel" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car 3</h5>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="carform">Rent This Car</a>        
        </div>  
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src={% static '25.jpg' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car 4</h5>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="carform">Rent This Car</a>        
        </div>  
      </div>
    </div>
  </div>
</div>

</main>

<footer class="text-muted py-5">
  <div class="container">
      <div style="color:AntiqueWhite;">

    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">We make travelling EAZEEEE with &copy; UV Tours, so pack your bag and TRAVELLL </p>
    <p class="mb-0">New to UV Tours <a href="{% url 'home' %}">Visit the homepage</a> or contact us <a href="contact"> to get good offers</a>.</p>
  </div></div>
</footer>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 {% endblock body %} 
