{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block title %}Contact
{% endblock title %}

 {% block body %}
 <br><br>
<div class="text-center">
<div style="color:AntiqueWhite;">
    <h3>YOU CAN CONTACT US</h3>
      <h4><span class="glyphicon glyphicon-map-marker"></span>Bhandup,Mumbai</h4>
    <h4><span class="glyphicon glyphicon-phone"></span>Phone: +91 1234567890</h4>
    <h4><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</h4>
</div></div>
<br><div class="container mb-3 py-4">
    <h1 class="text-danger text-center"><marquee scrollamount="20">|| Contact Us ||            || Contact Us ||            || Contact Us ||           || Contact Us ||</marquee></h1>
    <form method="post" action="/contact">
</div
{% endblock body %}

